<div>
    <div class="spacer"></div>
    <script src="../widgets/district-information.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>

<div>
    <div class="spacer"></div>
    <script src="../widgets/district-cases.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>

<div>
    <div class="spacer"></div>
    <script src="../widgets/county-new-cases.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>

<div>
    <div class="spacer"></div>
    <script src="../widgets/county-active-cases.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>

<div>
    <div class="spacer"></div>
    <script src="../widgets/county-symptoms.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>

<div>
    <div class="spacer"></div>
    <script src="../widgets/county-demographics.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>

<div>
    <div class="spacer"></div>
    <script src="../widgets/state-new-cases.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>

<div>
    <div class="spacer"></div>
    <script src="../widgets/state-active-cases.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>

<div>
    <div class="spacer"></div>
    <script src="../widgets/state-symptoms.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>

<div>
    <div class="spacer"></div>
    <script src="../widgets/state-demographics.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>
