<!-- Polyfills, custom functions and constants -->
<script type="text/javascript" src="{{root}}/static/polyfills.min.js"></script>

<!-- Custom styles -->
<link rel="stylesheet" href="{{root}}/third_party/picnic/picnic.min.css" />
<link rel="stylesheet" href="{{root}}/static/styles.min.css" />

<!-- Chart dependencies -->
<script src="../templates/chart-deps.tpl.html" data-include data-vars='{"root": ".."}'></script>

<div>
    <div class="spacer"></div>
    <script src="../widgets/district-information.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>

<div>
    <div class="spacer"></div>
    <script src="../widgets/district-cases.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>

<div>
    <div class="spacer"></div>
    <script src="../widgets/county-new-cases.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>

<div>
    <div class="spacer"></div>
    <script src="../widgets/county-active-cases.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>

<div>
    <div class="spacer"></div>
    <script src="../widgets/county-symptoms.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>

<div>
    <div class="spacer"></div>
    <script src="../widgets/county-demographics.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>

<div>
    <div class="spacer"></div>
    <script src="../widgets/state-new-cases.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>

<div>
    <div class="spacer"></div>
    <script src="../widgets/state-active-cases.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>

<div>
    <div class="spacer"></div>
    <script src="../widgets/state-symptoms.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>

<div>
    <div class="spacer"></div>
    <script src="../widgets/state-demographics.tpl.html" data-include data-vars='{"root": ".."}'></script>
</div>
